# Ignore virtual environment
venv/
env/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local development files
.idea/
.vscode/

# Ignore logs
*.log

# Ignore Docker-related files
.dockerignore

# Ignore any other unnecessary files or directories
cache/